<div class="mt-4 p-3">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <div class="d-flex m-2 ">
            <h2 class="m-1">{{this.paisElegido.name}}</h2>
            <img width="50px" [src]="this.paisElegido.image"
              alt="imagen">
          </div>
          <div *ngIf="this.paisComida.dish != ''" class="alert alert-primary" role="alert">
            El plato más comun en {{this.paisElegido.name}} es el "{{this.paisComida.dish}}"
          </div>
          <div *ngIf="this.paisComida.dish == ''" class="alert alert-danger" role="alert">
            No se encontro la informacion del plato de {{this.paisElegido.name}}
          </div>
          <div *ngIf="this.mostrarMensaje" class="alert alert-success" role="alert">
            Presionaste el boton de Wikipedia, dirigite a la pestaña que se abrio para continuar leyendo sobre Argentina
          </div>
        </div>
        <div class="col">
          <app-input-redirect-wiki [paisElegido]="this.paisElegido" (botonClickeado)="this.mostrarMensajeWikipedia($event)"></app-input-redirect-wiki>
        </div>
      </div>
    </div>
  </div>
</div>
